.hero-section{
  display: flex;
  justify-content: center;  
  align-items: center;      
  flex-wrap: wrap;         
  gap: 40px;                
  padding: 40px; 
}

.hero-content{
  max-width: 500px;
  text-align: center;
}

.hero-title {
  font-size: 72px;
  font-weight: bold;
  margin: 0;
  color: #0033cc;
}

.hero-title span {
  color: #0033cc;
}


.hero-subtitle {
  font-size: 16px;
  margin: 20px 0;
  color: #333;
  line-height: 1.6;
}


.hero-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 20px;
  max-width: 500px;
  justify-content: center;
  margin-top: 15px;
}

.hero-actions button {
  flex: 1 1 calc(30% - 20px);
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.hero-actions button:hover {
  background-color: rgb(14 36 60);
  color: #fff;
  transition: background-color 0.3s ease;
}


.cta-text {
  font-weight: 600;
  margin-top: 20px;
}

.action-buttons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.action-buttons .blue {
  background-color: #0033cc;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: 1px solid #0033cc;
  cursor: pointer;
  font-size: 14px;
}

.action-buttons .gray {
  background-color: #fff;
  color: #000;
  padding: 10px 25px;
  border-radius: 25px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 14px;
}

.action-buttons .blue:hover {
  background-color: #fff;
  color: #0033cc;
  border: 1px solid #0033cc;
  transition: background-color 0.3s ease;
}

.action-buttons .gray:hover {
  background-color: rgb(14 36 60);
  color: #fff;
  transition: background-color 0.3s ease;
}


.hero-image {
  width: 750px;
  height: auto;
  border-radius: 15px;
}

@media (max-width: 811px) {
  .hero-section {
    flex-direction: column;
    padding: 20px;
    gap: 25px;
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-subtitle {
    font-size: 14px;
    margin: 15px 0;
  }

  .hero-actions {
    flex-direction: column; 
    gap: 10px;
    justify-content: center; 
    align-items: center; 
    max-width: 100%;
    margin-top: 15px;
  }

  .hero-actions button {
    flex: none; 
    width: auto; 
    font-size: 12px;
    padding: 8px 15px;
  }

  .action-buttons {
    flex-direction: column; 
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .action-buttons .blue,
  .action-buttons .gray {
    font-size: 12px;
    padding: 8px 20px;
    width: auto;
  }

  .hero-image {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
  }
}
